@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@400;600;700&display=swap");
/* body {
  align-items: center;
  background: #e0e0e3;
  display: flex;
  flex-direction: column;
  font-family: "Assistant", sans-serif;
  justify-content: center;
  height: 100vh;
  user-select: none;
} */
.check {
  align-items: center;
  display: flex;
  margin-bottom: 16px;
}
.test {
  display: none;
  opacity: 0.5;
  position: absolute;
  transform: translateX(-3px);
  width: 400px;
  z-index: 1;
}
.test.hide {
  display: none;
}
.phone {
  align-items: center;
  background: #fff;
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  height: 480px;
  position: relative;
  width: 60%;
  box-shadow: 0px 1.7px 2.2px rgba(0, 0, 0, 0.02),
    0px 4px 5.3px rgba(0, 0, 0, 0.028), 0px 7.5px 10px rgba(0, 0, 0, 0.035),
    0px 13.4px 17.9px rgba(0, 0, 0, 0.042),
    0px 25.1px 33.4px rgba(0, 0, 0, 0.05), 0px 60px 80px rgba(0, 0, 0, 0.07);
  /* font-family: "Assistant", sans-serif; */
}
.title {
  font-size: 19px;
  font-weight: 600;
  margin-top: -20px;
}
.chevron:before {
  content: " ";
  background-color: #282828;
  width: 2px;
  height: 9px;
  position: absolute;
  left: 10px;
  transform: translateX(11px) translateY(17px) rotate(45deg);
}
.chevron:after {
  content: " ";
  background-color: #282828;
  width: 2px;
  height: 9px;
  position: absolute;
  left: 10px;
  transform: translateX(11px) translateY(22px) rotate(-45deg);
}

.chevron {
    cursor: pointer;
    margin-right: 85%;
}

.avatar {
  background-color: #e0e0e3;
  border-radius: 50%;
  height: 90px;
  margin-top: 20px;
  width: 90px;
}
.avatar.capture {
  display: none;
}
body.capture .avatar {
  display: none;
}
body.capture .avatar.capture {
  display: block;
}
.name {
  font-size: 18px;
  font-weight: 700;
  margin-top: 4px;
}
.name.capture {
  display: none;
}
body.capture .name {
  display: none;
}
body.capture .name.capture {
  display: block;
}
.obfuscate {
  background-color: #e0e0e3;
  display: inline-block;
  height: 6px;
  width: 40px;
}
.position {
  color: #666;
  font-size: 15px;
  margin-bottom: 8px;
}
.prop {
  align-self: flex-start;
  color: #666;
  font-size: 17px;
  margin: 12px 20px 0;
  margin-top: 20px;
}
.value {
  align-self: flex-start;
  border-bottom: 1px solid #666;
  font-size: 15px;
  font-weight: 700;
  margin: 4px 20px 0;
  padding: 0 0 2px;
  width: 87%;
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.value.capture {
  display: none;
}
body.capture .value {
  display: none;
}
body.capture .value.capture {
  display: block;
}
.values {
  display: flex;
  width: 170px;
}
.value--small {
  width: 100%;
  margin: 0 12px 0 0px;
}
.value--small .obfuscate {
  width: 20px;
}
.value--small:nth-child(5) {
  margin: 0;
}
.value--small:nth-child(6) {
  margin: 0;
}
.joined {
  align-self: flex-start;
  color: #666;
  font-size: 10px;
  margin: 32px 20px 0;
}
.date {
  align-self: flex-start;
  color: #282828;
  font-size: 10px;
  font-weight: 600;
}
.date.capture {
  display: none;
}
body.capture .date {
  display: none;
}
body.capture .date.capture {
  display: inline;
}

.loader-save {
    margin-top: 17px;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
